.wp-block-amirition-reng-player {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
.flex {
	display: flex;

	&.horizontal {
		flex-direction: row;
	}

	&.vertical {
		flex-direction: column;
	}
}
.reng-player {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	@media screen and ( max-width: 600px ) {
		position: relative;
	}
	select {
		border: none;
		&:focus-visible {
			outline: none;
		}
	}
	* {
		transition: all .4s;
	}
	.song {
		width: calc( 100% - 100px );

		@media screen and ( max-width: 500px ) {
			width: calc( 100% - 60px );
		}
		.left {
			padding-left: 5px;
			.details-bar {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 5px 10px;

				@media screen and ( max-width: 600px ) {
					position: absolute;
					left: 0;
					right: 0;
					top: 100%;
				}

				@media screen and (max-width: 500px) {
					flex-wrap: wrap;
				}

				.play-button {
					background: none;
					border: none;
					font-size: 22px;
					line-height: 1;
					&:hover {
						cursor: pointer;
						color: #ccc;
					}
				}
				p {
					@media screen and (max-width: 500px) {
						order: 1;
						width: 100%;
						text-align: center;
						margin-bottom: 5px;
					}
				}
				.reng-speed {
					@media screen and (max-width: 500px) {
						order: 2;
					}
				}
				.fast-seek {
					@media screen and (max-width: 500px) {
						order: 3;
					}
					i {
						font-size: 22px;
						line-height: 1;

						&:hover {
							color: #ccc;
							cursor: pointer;
						}
					}
				}
			}
			width: 100%;
		}
	}
	.thumbnail {
		width: 100px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;

		@media screen and (max-width: 500px) {
			width: 60px;
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.buttons-bar select {
	width: auto;
}

